{% extends 'base.html.twig' %}

{% block title %}Mon Compte - La boutique!{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    <p>Bienvenu {{ app.user.firstname}} dans votre compte .</p>
    -<a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    -Ajouter mes addresses
    -Mes commandes
    <hr>
{% endblock %}
